@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;

}

body{
    font-family: 'Roboto', sans-serif;
}

a {
    position: relative;
    text-decoration: none;
    color: #eee;
}

.btn:hover {
    cursor: pointer;
    background: #2d0c86;
}

.headline {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding-bottom: 50px;
    letter-spacing: 2px;
}


/*Navbar*/
#navbar {
    width: 100%;
    background: #111;
    color: #ffffff;
    height: 80px;
    position: fixed;
    display: flex;
}

.nav > li > a {
    position: relative;
  color: #fff;
  text-decoration: none;
}

.nav > li > a:hover {
    cursor: pointer;

}

.nav > li > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }

.nav > li > a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

#navbar-container{
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#navbar-items {
    display: flex;
    list-style: none;
    text-transform: uppercase;
}

#navbar-items li {
    padding: 10px;
}

#navbar-items a {
    display: block;
    padding: .4rem;
}

.logo{
    margin: 0;
    width: 64px;
    height: 64px;
    margin-top: 0;
    
}

#displayproduct{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0c0c0c;   
}

#displayproduct-container {
    text-align: center;
}

#displayproduct-container h2 {
    font-size: 2.5rem;
}

#displayproduct-container p {
    font-size: 1.2rem;
    padding: 7px 0;
}

#conteudo {
    display: table;
    padding: 40px;
    height: 400px;
    width: 90%;
}

#creative {
    display: table-cell;
    width: 365px;
    height: 230px;
    float: left;
    border-radius: 8px;
    position: relative;
}

.text {
    display: table-cell;
    float: right;
    width: 560px;
    margin-top: -20px;
    padding: 20px;
}

#conteudo1 {
    display: table;
    padding: 40px;
    height: 300px;
    width: 100%;
}

#creative1 {
    display: table-cell;
    width: 480px;
    height: 250px;
    float: right;
    border-radius: 8px;
    position: relative;

}

.text1 {
    display: table-cell;
    float: left;
    width: 555px;
    margin-top: -20px;
    padding: 20px;
}

/* footer */
#footer {
    background: #222;
    color: #eee;
    padding: 15px;
    text-align: center;

}

.text, .text1, .imagem,.titulo {
    visibility: hidden;
}